body{
    background: url(https://cdn.xelf.io/resources/image/20210701/20210701151204418827019546.png);
    /*background-image: linear-gradient( white, rgb(13, 202, 240));*/
   

    background-repeat: no-repeat;
    background-size: 1000%;

    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;

}
.navabt{
    overflow: hidden;
    background:rgb(13,202,240);
    height: 63px;
    margin-top: -5px;
}
.navabt a{
    float: right;
    border-left: 1px solid dimgrey;
    color:black;
    text-align: center;
    padding: 20px 16px;
    font-size: 18px;
    width: 150px;
    text-decoration: none;
    font-weight: bold;

}
.conabt a{
    float:left;
    font-size: 20px;
    
}

.navabt a:hover{
   
    color:white;
}
.tab{
    margin-top: 350px;
    margin-left: 350px;
    font-size: 20px;
    text-align:left;
    font-weight: bold;
   
}
#lib {
    width: 200%;
    max-width: 1300px;
    text-align: center;
    margin: 8em auto;
    font-size: 1.3rem;
    color: #94aab0;
    display: block;
    text-decoration: none;
  }
  
  a{
      color: #94aab0;
      text-decoration: none;
  }
  
  #m{
      display: inline-block;
  }
  
  #verticalLine {
      display: inline-block;
      margin-left: 20px;
      border-left: solid #343642;
  }
  
  #l-link,#k-link,#n-link{
      margin-left: 20px;
  }
  
  #m, #l,#k,#n
  {
      transition: all .2s ease-in-out;
  }
  
  #m:hover, #l:hover,#k:hover,#n:hover
  {
      transform: scale(1.1);
  }