body{
    background: url(https://cdn.xelf.io/resources/image/20210701/20210701151204418827019546.png);
   /*  background-image: linear-gradient( white, rgb(13, 202, 240) );*/
    background-size: 100%;
 
     background-repeat: repeat;
 
     margin: 0;
    padding: 0;
     font-family:Arial, Helvetica, sans-serif;
 
 }
 .navabt{
     overflow: hidden;
     background:rgb(13,202,240);
     height: 63px;
     margin-top: -5px;
 }.navabt a{
     float: right;
     border-left: 1px solid dimgrey;
     color:black;
     text-align: center;
     padding: 20px 16px;
     font-size: 18px;
     width: 150px;
     text-decoration: none;
     font-weight: bold;
 
 }
 .conabt a{
     float:left;
     font-size: 20px;
     
 }
 
 .navabt a:hover{
    
     color:white;
 }